<html>
<head>
  <meta charset=utf-8>
  <meta name="keywords" content="fashion, daily, blog"/>
  <meta name="description" content="Daily content from your favorite fashion blogs.">
  <title>Fashion Fixx Daily</title>
  <link href="normalize.css" rel="stylesheet" type="text/css">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="style.css" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/jpg" href="favicon.jpg" />
</head>
<body>
  <center>
    <nav>
      <h3>FASHION FIXX DAILY</h3>
    </nav>
    <header id="home">
      <h1>FASHION FIXX DAILY</h1>
      <h2>Daily Content From Your Favorite Fashion Blogs</h2>
      <div class="icons">
        <div id="icon-one">
          </br></br></br></br></br>
          <span><a href="/terms">Learn More</a></span>
        </div>
        <div id="icon-two">
          <img src="tower.png" height="180">
        </div>
        <div id="icon-three" class="email">
          </br></br></br></br></br>
          <span><a href="http://eepurl.com/YoRLT" target="_blank">Mailing List</a></span>           
        </div>
      </div>
      <div class="header-text">
        <p>Curated content from popular and emerging personal style blogs.</p>
        <p>Automatic updates anytime a blogger posts new content.</p>
        <p>See something you like? Simply click the image and you'll be redirected to the original blog page.</p>
      </div>
      <div class="social">
        <a href="http://facebook.com/FashionFixxDaily" target="_blank"><img src="facebook.png" height="50" id="facebook"></a>
        <a href="http://twitter.com/fashionfixxd" target="_blank"><img src="twitter.png" height="50" id="twitter"></a>
        <a href="http://instagram.com/fashionfixxd" target="_blank"><img src="instagram.png" height="50" id="instagram"></a>
      </div>
      <a href="#body"><img src="scroll.png" height="50"></a>
    </header>
    <div class="body" id="body">
      <!-- loop through blogs -->
      <% @blogs.each do |key, attributes| %>
        <div class="blog">
          <a href=<%= attributes.url %> target="_blank"><%= attributes.name %></a><br>
          <div class="blog-social">
            <a href=<%= attributes.facebook%> target="_blank"><img src="facebook.png" height="50" id="facebook"></a>
            <a href=<%= attributes.twitter %> target="_blank"><img src="twitter.png" height="50" id="twitter"></a>
            <a href=<%= attributes.instagram %> target="_blank"><img src="instagram.png" height="50" id="instagram"></a>
          </div>
          <% attributes.function.each do |pic| %>
            <div class="main-image">
              <a href=<%= attributes.url %> target="_blank"><img src=<%= pic %>></a>
              <div class="hover-image">
                <a href=<%= attributes.url %> target="_blank"><img src=<%= pic %>></a>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <!-- footer -->
      <div class="footer">
        <a href="#home">Home</a></br>
        <a href="/terms">About & Terms</a></br>
        <p>Copyright Fashion Fixx Daily 2014</p>
      </div>
    </div>

  </center>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script>
    // scroll to anchors element script
    $('a[href^="#"]').on('click', function(event) {
        var target = $( $(this).attr('href') );
        if( target.length ) {
            event.preventDefault();
            $('html, body').animate({
                scrollTop: target.offset().top
            }, 1000);
        }
    });
    // initially hidden
    $('nav').hide();
    // nav bar fade in
    (function($) {
        $(document).ready(function(){

            $(window).scroll(function(){
                if ($(this).scrollTop() > 100) {
                    $('nav').fadeIn(500);
                } else {
                    $('nav').fadeOut(500);
                }
            });
        });
    })(jQuery);
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-52490175-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>

