<html>
<head>
  <meta charset=utf-8>
  <meta name="keywords" content="fashion, daily, blog"/>
  <meta name="description" content="Daily content from your favorite fashion blogs.">
  <title>Fashion Fixx Daily</title>
  <link href="normalize.css" rel="stylesheet" type="text/css">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <center>
    <header id="home">
      <h1>FASHION FIXX DAILY</h1>
      <h2>Daily Content From Your Favorite Fashion Blogs<span> beta</span></h2>
      <div class="icons">
        <div id="icon-one">
          </br></br></br></br></br>
          <span><a href="/terms">Learn More</a></span>
        </div>
        <div id="icon-two">
          <img src="tower.png" height="180">
        </div>
        <div id="icon-three" class="email">
          </br></br></br></br></br>
          <span><a href="http://eepurl.com/YoRLT" target="_blank">Mailing List</a></span>               
        </div>
      </div>
      <div class="header-text">
        <p>Automatically updates anytime a blogger posts new content.</p>
        <p>No more surfing multiple websites.</p>
        <p>Just images. None of the fuss.</p>
        <p>See something you like? Simply click the image and you'll be redirected to the original post.</p>
      </div>
      <div class="social">
        <a href="http://facebook.com" target="_blank"><img src="facebook.png" height="50" id="facebook"></a>
        <a href="http://twitter.com/fashionfixxd" target="_blank"><img src="twitter.png" height="50" id="twitter"></a>
        <a href="http://instagram.com/fashionfixxd" target="_blank"><img src="instagram.png" height="50" id="instagram"></a>
      </div>
      <a href="#body"><img src="scroll.png" height="50"></a>
    </header>
    <div class="body" id="body">
      <div class="blog">
        <a href=<%= @atlantic.url %> target="_blank"><%= @atlantic.name %></a></br>
        <% @atlantic.get_links.each do |link| %>
          <a href=<%= @atlantic.url %> target="_blank"><img src=<%= link %>></a>
        <% end %>
      </div>
      </br>
      <div class="blog">
        <a href=<%= @sara_libby.url %> target="_blank"><%= @sara_libby.name %></a></br>
        <% @sara_libby.get_links.each do |link| %>
          <a href=<%= @sara_libby.url %> target="_blank"><img src=<%= link %>></a>
        <% end %>
      </div>
      </br>
      <div class="blog">
        <a href=<%= @we_wore.url %> target="_blank"><%= @we_wore.name %></a></br>
        <% @we_wore.get_links.each do |link| %>
          <a href=<%= @we_wore.url %> target="_blank"><img src=<%= link %>></a>
        <% end %>
      </div>
      </br>
      <div class="blog">
        <a href=<%= @lace.url %> target="_blank"><%= @lace.name %></a></br>
        <% @lace.get_links_img.each do |link| %>
          <a href=<%= @lace.url %> target="_blank"><img src=<%= link %>></a>
        <% end %>
      </div>
      </br>
      <div class="blog">
        <a href=<%= @wendy_lookbook.url %> target="_blank"><%= @wendy_lookbook.name %></a></br>
        <% @wendy_lookbook.get_links_img.each do |link| %>
          <a href=<%= @wendy_lookbook.url %> target="_blank"><img src=<%= link %>></a>
        <% end %>
      </div>
      </br>
      <div class="blog">
        <a href=<%= @sea_of_shoes.url %> target="_blank"><%= @sea_of_shoes.name %></a></br>
        <% @sea_of_shoes.get_links.each do |link| %>
          <a href=<%= @sea_of_shoes.url %> target="_blank"><img src=<%= link %>></a>
        <% end %>
      </div>
      </br>
      <div class="blog">
        <a href=<%= @gal.url %> target="_blank"><%= @gal.name %></a></br>
          <% @gal.get_links_img.each do |link| %>
        <a href=<%= @gal.url %> target="_blank"><img src=<%= link %>></a>
        <% end %>
      </div>
      </br>
      <div class="blog">
        <a href=<%= @viva.url %> target="_blank"><%= @viva.name %></a></br>
        <% @viva.get_links_img.each do |link| %>
          <a href=<%= @viva.url %> target="_blank"><img src=<%= link %>></a>
        <% end %>
      </div>
      </br>
      <div class="blog">
        <a href=<%= @zoranna.url %> target="_blank"><%= @zoranna.name %></a></br>
        <% @zoranna.get_links_img.each do |link| %>
          <a href=<%= @zoranna.url %> target="_blank"><img src=<%= link %>></a>
        <% end %>
      </div>
      </br>
      <div class="blog">
        <a href=<%= @navy.url %> target="_blank"><%= @navy.name %></a></br>
        <% @navy.get_links_img.each do |link| %>
          <a href=<%= @navy.url %> target="_blank"><img src=<%= link %>></a>
        <% end %>
      </div>
      </br>
      <div class="blog">
        <a href=<%= @toast.url %> target="_blank"><%= @toast.name %></a></br>
        <% @toast.get_links_img.each do |link| %>
          <a href=<%= @toast.url %> target="_blank"><img src=<%= link %>></a>
        <% end %>
      </div>
      <div class="footer">
        <a href="#home">Home</a></br>
        <a href="/terms">About & Terms</a></br>
        <p>Copyright Fashion Fixx Daily 2014</p>
      </div>
    </div>
  </center>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-52490175-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>

